<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_0qumQDSIEeadQYHzHOtb_Q" specification="interface:&#xA;&#xA;var red :boolean&#xA;var wait:boolean&#xA;var green:boolean&#xA;&#xA;in event button_pushed&#xA;" name="simple_pedestrian_crossing">
    <regions xmi:id="_0qxpkjSIEeadQYHzHOtb_Q" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_0q17BDSIEeadQYHzHOtb_Q">
        <outgoingTransitions xmi:id="_0q4-UjSIEeadQYHzHOtb_Q" target="_0q3JJDSIEeadQYHzHOtb_Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_0q3JJDSIEeadQYHzHOtb_Q" specification="entry /&#xD;&#xA;red=true;&#xD;&#xA;wait=false;&#xD;&#xA;green=false" name="Red" incomingTransitions="_0q4-UjSIEeadQYHzHOtb_Q _bLTnQD-ZEeaGY9__60ZIhg">
        <outgoingTransitions xmi:id="_EOSOwDxgEeaR9vylWP2wTw" specification="button_pushed" target="_6K7WkD-YEeaGY9__60ZIhg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_8bZtQDSIEeadQYHzHOtb_Q" specification="entry /&#xD;&#xA;red = false;&#xD;&#xA;wait = false;&#xD;&#xA;green = true" name="Green" incomingTransitions="__NJTQD-YEeaGY9__60ZIhg">
        <outgoingTransitions xmi:id="_QiWNYDSJEeadQYHzHOtb_Q" specification="after 20s" target="_VUXpED-ZEeaGY9__60ZIhg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_6K7WkD-YEeaGY9__60ZIhg" name="Wait" incomingTransitions="_EOSOwDxgEeaR9vylWP2wTw">
        <outgoingTransitions xmi:id="__NJTQD-YEeaGY9__60ZIhg" specification="after 10s" target="_8bZtQDSIEeadQYHzHOtb_Q"/>
        <regions xmi:id="_6K9y0D-YEeaGY9__60ZIhg" name="Blinking">
          <vertices xsi:type="sgraph:State" xmi:id="_C7QjwD-ZEeaGY9__60ZIhg" specification="entry/&#xD;&#xA;wait = true" name="On" incomingTransitions="_FKUcUD-ZEeaGY9__60ZIhg _H_sG8D-ZEeaGY9__60ZIhg">
            <outgoingTransitions xmi:id="_G7SqsD-ZEeaGY9__60ZIhg" specification="after 500ms" target="_DtQBYD-ZEeaGY9__60ZIhg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_DtQBYD-ZEeaGY9__60ZIhg" specification="entry/&#xD;&#xA;wait = false" name="Off" incomingTransitions="_G7SqsD-ZEeaGY9__60ZIhg">
            <outgoingTransitions xmi:id="_H_sG8D-ZEeaGY9__60ZIhg" specification="after 500ms" target="_C7QjwD-ZEeaGY9__60ZIhg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_EqPOED-ZEeaGY9__60ZIhg">
            <outgoingTransitions xmi:id="_FKUcUD-ZEeaGY9__60ZIhg" specification="" target="_C7QjwD-ZEeaGY9__60ZIhg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_VUXpED-ZEeaGY9__60ZIhg" name="Green_Blinking" incomingTransitions="_QiWNYDSJEeadQYHzHOtb_Q">
        <outgoingTransitions xmi:id="_bLTnQD-ZEeaGY9__60ZIhg" specification="after 10s" target="_0q3JJDSIEeadQYHzHOtb_Q"/>
        <regions xmi:id="_VUYQJD-ZEeaGY9__60ZIhg" name="Blinking">
          <vertices xsi:type="sgraph:State" xmi:id="_VUYQJT-ZEeaGY9__60ZIhg" specification="entry/&#xD;&#xA;green = true" name="On" incomingTransitions="_VUaFVT-ZEeaGY9__60ZIhg _VUZeQT-ZEeaGY9__60ZIhg">
            <outgoingTransitions xmi:id="_VUYQJz-ZEeaGY9__60ZIhg" specification="after 500ms" target="_VUY3ND-ZEeaGY9__60ZIhg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_VUY3ND-ZEeaGY9__60ZIhg" specification="entry/&#xD;&#xA;green = false" name="Off" incomingTransitions="_VUYQJz-ZEeaGY9__60ZIhg">
            <outgoingTransitions xmi:id="_VUZeQT-ZEeaGY9__60ZIhg" specification="after 500ms" target="_VUYQJT-ZEeaGY9__60ZIhg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_VUaFVD-ZEeaGY9__60ZIhg">
            <outgoingTransitions xmi:id="_VUaFVT-ZEeaGY9__60ZIhg" specification="" target="_VUYQJT-ZEeaGY9__60ZIhg"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_0qxpkDSIEeadQYHzHOtb_Q" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_0qumQDSIEeadQYHzHOtb_Q" measurementUnit="Pixel">
    <children xmi:id="_0qzewDSIEeadQYHzHOtb_Q" type="Region" element="_0qxpkjSIEeadQYHzHOtb_Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_0q1T8DSIEeadQYHzHOtb_Q" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0q1T8TSIEeadQYHzHOtb_Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0q17ADSIEeadQYHzHOtb_Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_0q17ATSIEeadQYHzHOtb_Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_0q2iEDSIEeadQYHzHOtb_Q" type="Entry" element="_0q17BDSIEeadQYHzHOtb_Q">
          <children xmi:id="_0q2iFDSIEeadQYHzHOtb_Q" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_0q3JIDSIEeadQYHzHOtb_Q" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_0q3JITSIEeadQYHzHOtb_Q"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_0q3JIjSIEeadQYHzHOtb_Q"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_0q2iFTSIEeadQYHzHOtb_Q" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0q2iFjSIEeadQYHzHOtb_Q"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_0q2iETSIEeadQYHzHOtb_Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_0q2iEjSIEeadQYHzHOtb_Q" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0q3JIzSIEeadQYHzHOtb_Q" x="87" y="22" width="15" height="15"/>
        </children>
        <children xmi:id="_0q3wMjSIEeadQYHzHOtb_Q" type="State" element="_0q3JJDSIEeadQYHzHOtb_Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_0q3wNjSIEeadQYHzHOtb_Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_0q3wNzSIEeadQYHzHOtb_Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_0q3wODSIEeadQYHzHOtb_Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_0q4XQDSIEeadQYHzHOtb_Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_0q4XQTSIEeadQYHzHOtb_Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0q4XQjSIEeadQYHzHOtb_Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_0q4XQzSIEeadQYHzHOtb_Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_0q3wMzSIEeadQYHzHOtb_Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_0q3wNDSIEeadQYHzHOtb_Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_0q4-UDSIEeadQYHzHOtb_Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0q4-UTSIEeadQYHzHOtb_Q" x="15" y="77" width="165" height="127"/>
        </children>
        <children xmi:id="_8ba7YDSIEeadQYHzHOtb_Q" type="State" element="_8bZtQDSIEeadQYHzHOtb_Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_8bbicDSIEeadQYHzHOtb_Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8bbicTSIEeadQYHzHOtb_Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_8bbicjSIEeadQYHzHOtb_Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8bbiczSIEeadQYHzHOtb_Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_8bbidDSIEeadQYHzHOtb_Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8bbidTSIEeadQYHzHOtb_Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8bcJgDSIEeadQYHzHOtb_Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8ba7YTSIEeadQYHzHOtb_Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_8ba7YjSIEeadQYHzHOtb_Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8bcJgTSIEeadQYHzHOtb_Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8ba7YzSIEeadQYHzHOtb_Q" x="510" y="542" width="141" height="127"/>
        </children>
        <children xmi:id="_6K_oAD-YEeaGY9__60ZIhg" type="State" element="_6K7WkD-YEeaGY9__60ZIhg">
          <children xsi:type="notation:DecorationNode" xmi:id="_6LA2ID-YEeaGY9__60ZIhg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6LA2IT-YEeaGY9__60ZIhg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_6LA2Ij-YEeaGY9__60ZIhg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6LBdMD-YEeaGY9__60ZIhg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_6LBdMT-YEeaGY9__60ZIhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6LBdMj-YEeaGY9__60ZIhg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6LCEQD-YEeaGY9__60ZIhg" type="StateFigureCompartment">
            <children xmi:id="_6LG8wD-YEeaGY9__60ZIhg" type="Region" element="_6K9y0D-YEeaGY9__60ZIhg">
              <children xsi:type="notation:DecorationNode" xmi:id="_6LG8wz-YEeaGY9__60ZIhg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_6LG8xD-YEeaGY9__60ZIhg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_6LG8xT-YEeaGY9__60ZIhg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_6LG8xj-YEeaGY9__60ZIhg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_C7RK0T-ZEeaGY9__60ZIhg" type="State" element="_C7QjwD-ZEeaGY9__60ZIhg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_C7Rx4D-ZEeaGY9__60ZIhg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_C7Rx4T-ZEeaGY9__60ZIhg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_C7Rx4j-ZEeaGY9__60ZIhg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_C7Rx4z-ZEeaGY9__60ZIhg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_C7Rx5D-ZEeaGY9__60ZIhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_C7Rx5T-ZEeaGY9__60ZIhg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_C7Rx5j-ZEeaGY9__60ZIhg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_C7RK0j-ZEeaGY9__60ZIhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_C7RK0z-ZEeaGY9__60ZIhg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_C7Rx5z-ZEeaGY9__60ZIhg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_C7RK1D-ZEeaGY9__60ZIhg" x="93" y="-13" width="156"/>
                </children>
                <children xmi:id="_DtRPgD-ZEeaGY9__60ZIhg" type="State" element="_DtQBYD-ZEeaGY9__60ZIhg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_DtRPhD-ZEeaGY9__60ZIhg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_DtRPhT-ZEeaGY9__60ZIhg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_DtRPhj-ZEeaGY9__60ZIhg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_DtR2kD-ZEeaGY9__60ZIhg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_DtR2kT-ZEeaGY9__60ZIhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DtR2kj-ZEeaGY9__60ZIhg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_DtR2kz-ZEeaGY9__60ZIhg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_DtRPgT-ZEeaGY9__60ZIhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_DtRPgj-ZEeaGY9__60ZIhg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_DtR2lD-ZEeaGY9__60ZIhg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DtRPgz-ZEeaGY9__60ZIhg" x="93" y="201" width="146"/>
                </children>
                <children xmi:id="_EqP1ID-ZEeaGY9__60ZIhg" type="Entry" element="_EqPOED-ZEeaGY9__60ZIhg">
                  <children xmi:id="_EqRDQD-ZEeaGY9__60ZIhg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_EqRDQz-ZEeaGY9__60ZIhg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_EqRDRD-ZEeaGY9__60ZIhg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_EqRDRT-ZEeaGY9__60ZIhg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_EqRDQT-ZEeaGY9__60ZIhg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EqRDQj-ZEeaGY9__60ZIhg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_EqP1IT-ZEeaGY9__60ZIhg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_EqP1Ij-ZEeaGY9__60ZIhg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EqP1Iz-ZEeaGY9__60ZIhg" x="13" y="18"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6LG8xz-YEeaGY9__60ZIhg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_6LG8wT-YEeaGY9__60ZIhg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6LG8wj-YEeaGY9__60ZIhg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6K_oAT-YEeaGY9__60ZIhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_6K_oAj-YEeaGY9__60ZIhg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6LCEQT-YEeaGY9__60ZIhg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6K_oAz-YEeaGY9__60ZIhg" x="420" y="22" width="321" height="420"/>
        </children>
        <children xmi:id="_VUWa8D-ZEeaGY9__60ZIhg" type="State" element="_VUXpED-ZEeaGY9__60ZIhg">
          <children xsi:type="notation:DecorationNode" xmi:id="_VUWa8T-ZEeaGY9__60ZIhg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_VUWa8j-ZEeaGY9__60ZIhg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_VUWa8z-ZEeaGY9__60ZIhg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_VUWa9D-ZEeaGY9__60ZIhg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_VUWa9T-ZEeaGY9__60ZIhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VUWa9j-ZEeaGY9__60ZIhg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_VUWa9z-ZEeaGY9__60ZIhg" type="StateFigureCompartment">
            <children xmi:id="_wV1rUD-ZEeaGY9__60ZIhg" type="Region" element="_VUYQJD-ZEeaGY9__60ZIhg">
              <children xsi:type="notation:DecorationNode" xmi:id="_wV1rUT-ZEeaGY9__60ZIhg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_wV1rUj-ZEeaGY9__60ZIhg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_wV1rUz-ZEeaGY9__60ZIhg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_wV1rVD-ZEeaGY9__60ZIhg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_wV1rVT-ZEeaGY9__60ZIhg" type="State" element="_VUYQJT-ZEeaGY9__60ZIhg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_wV1rVj-ZEeaGY9__60ZIhg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_wV1rVz-ZEeaGY9__60ZIhg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_wV1rWD-ZEeaGY9__60ZIhg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_wV1rWT-ZEeaGY9__60ZIhg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_wV1rWj-ZEeaGY9__60ZIhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wV1rWz-ZEeaGY9__60ZIhg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_wV1rXD-ZEeaGY9__60ZIhg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_wV1rXT-ZEeaGY9__60ZIhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_wV1rXj-ZEeaGY9__60ZIhg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_wV1rXz-ZEeaGY9__60ZIhg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wV1rYD-ZEeaGY9__60ZIhg" x="97" y="2" width="153"/>
                </children>
                <children xmi:id="_wV1rYT-ZEeaGY9__60ZIhg" type="State" element="_VUY3ND-ZEeaGY9__60ZIhg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_wV1rYj-ZEeaGY9__60ZIhg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_wV1rYz-ZEeaGY9__60ZIhg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_wV1rZD-ZEeaGY9__60ZIhg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_wV1rZT-ZEeaGY9__60ZIhg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_wV1rZj-ZEeaGY9__60ZIhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wV1rZz-ZEeaGY9__60ZIhg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_wV1raD-ZEeaGY9__60ZIhg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_wV1raT-ZEeaGY9__60ZIhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_wV1raj-ZEeaGY9__60ZIhg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_wV1raz-ZEeaGY9__60ZIhg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wV1rbD-ZEeaGY9__60ZIhg" x="100" y="191" width="146"/>
                </children>
                <children xmi:id="_wV1rbT-ZEeaGY9__60ZIhg" type="Entry" element="_VUaFVD-ZEeaGY9__60ZIhg">
                  <children xmi:id="_wV1rbj-ZEeaGY9__60ZIhg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_wV1rbz-ZEeaGY9__60ZIhg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_wV1rcD-ZEeaGY9__60ZIhg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_wV1rcT-ZEeaGY9__60ZIhg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_wV1rcj-ZEeaGY9__60ZIhg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wV1rcz-ZEeaGY9__60ZIhg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_wV1rdD-ZEeaGY9__60ZIhg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_wV1rdT-ZEeaGY9__60ZIhg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wV1rdj-ZEeaGY9__60ZIhg" x="13" y="33"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wV1rdz-ZEeaGY9__60ZIhg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_wV1reD-ZEeaGY9__60ZIhg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wV1reT-ZEeaGY9__60ZIhg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_VUWbIj-ZEeaGY9__60ZIhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_VUWbIz-ZEeaGY9__60ZIhg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_VUWbJD-ZEeaGY9__60ZIhg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VUWbJT-ZEeaGY9__60ZIhg" x="3" y="297" width="321" height="391"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0q17AjSIEeadQYHzHOtb_Q"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_0q0F0DSIEeadQYHzHOtb_Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0q17AzSIEeadQYHzHOtb_Q" x="308" y="10" width="778" height="740"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_0q7akDSIEeadQYHzHOtb_Q" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_0q7akjSIEeadQYHzHOtb_Q" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0q7akzSIEeadQYHzHOtb_Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0q7alDSIEeadQYHzHOtb_Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_0q7alTSIEeadQYHzHOtb_Q" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0q7aljSIEeadQYHzHOtb_Q"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0q8BoDSIEeadQYHzHOtb_Q" x="10" y="10" width="285" height="740"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_0qxpkTSIEeadQYHzHOtb_Q"/>
    <edges xmi:id="_0q6McDSIEeadQYHzHOtb_Q" type="Transition" element="_0q4-UjSIEeadQYHzHOtb_Q" source="_0q2iEDSIEeadQYHzHOtb_Q" target="_0q3wMjSIEeadQYHzHOtb_Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_0q6zgTSIEeadQYHzHOtb_Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0q6zgjSIEeadQYHzHOtb_Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0q6zgzSIEeadQYHzHOtb_Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0q6McTSIEeadQYHzHOtb_Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0q6zgDSIEeadQYHzHOtb_Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0q6McjSIEeadQYHzHOtb_Q" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_QiW0cDSJEeadQYHzHOtb_Q" type="Transition" element="_QiWNYDSJEeadQYHzHOtb_Q" source="_8ba7YDSIEeadQYHzHOtb_Q" target="_VUWa8D-ZEeaGY9__60ZIhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_QiW0dDSJEeadQYHzHOtb_Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QiW0dTSJEeadQYHzHOtb_Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QiW0djSJEeadQYHzHOtb_Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QiW0cTSJEeadQYHzHOtb_Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QiW0czSJEeadQYHzHOtb_Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QiW0cjSJEeadQYHzHOtb_Q" points="[-25, 5, 183, 5]$[-205, 24, 3, 24]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Yu1k0D-ZEeaGY9__60ZIhg" id="(0.9813084112149533,0.8056265984654731)"/>
    </edges>
    <edges xmi:id="_EOUrADxgEeaR9vylWP2wTw" type="Transition" element="_EOSOwDxgEeaR9vylWP2wTw" source="_0q3wMjSIEeadQYHzHOtb_Q" target="_6K_oAD-YEeaGY9__60ZIhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_EOV5IDxgEeaR9vylWP2wTw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EOV5ITxgEeaR9vylWP2wTw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EOV5IjxgEeaR9vylWP2wTw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EOUrATxgEeaR9vylWP2wTw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EOVSEDxgEeaR9vylWP2wTw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EOUrAjxgEeaR9vylWP2wTw" points="[80, 5, -484, -33]$[536, 36, -28, -2]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Tr_WAD-ZEeaGY9__60ZIhg" id="(0.003115264797507788,0.27380952380952384)"/>
    </edges>
    <edges xmi:id="__NKhYD-YEeaGY9__60ZIhg" type="Transition" element="__NJTQD-YEeaGY9__60ZIhg" source="_6K_oAD-YEeaGY9__60ZIhg" target="_8ba7YDSIEeadQYHzHOtb_Q">
      <children xsi:type="notation:DecorationNode" xmi:id="__NLIcT-YEeaGY9__60ZIhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__NLIcj-YEeaGY9__60ZIhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__NLIcz-YEeaGY9__60ZIhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__NKhYT-YEeaGY9__60ZIhg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__NLIcD-YEeaGY9__60ZIhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__NKhYj-YEeaGY9__60ZIhg" points="[-1, -44, 3, -270]$[-1, 226, 3, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__NM9oD-YEeaGY9__60ZIhg" id="(0.5957446808510638,0.0)"/>
    </edges>
    <edges xmi:id="_FKVqcD-ZEeaGY9__60ZIhg" type="Transition" element="_FKUcUD-ZEeaGY9__60ZIhg" source="_EqP1ID-ZEeaGY9__60ZIhg" target="_C7RK0T-ZEeaGY9__60ZIhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_FKVqdD-ZEeaGY9__60ZIhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FKVqdT-ZEeaGY9__60ZIhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FKVqdj-ZEeaGY9__60ZIhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FKVqcT-ZEeaGY9__60ZIhg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FKVqcz-ZEeaGY9__60ZIhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FKVqcj-ZEeaGY9__60ZIhg" points="[5, 5, -42, -46]$[54, 27, 7, -24]"/>
    </edges>
    <edges xmi:id="_G7T40D-ZEeaGY9__60ZIhg" type="Transition" element="_G7SqsD-ZEeaGY9__60ZIhg" source="_C7RK0T-ZEeaGY9__60ZIhg" target="_DtRPgD-ZEeaGY9__60ZIhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_G7T41D-ZEeaGY9__60ZIhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_G7T41T-ZEeaGY9__60ZIhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_G7T41j-ZEeaGY9__60ZIhg" x="-6" y="-30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_G7T40T-ZEeaGY9__60ZIhg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_G7T40z-ZEeaGY9__60ZIhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_G7T40j-ZEeaGY9__60ZIhg" points="[-9, 78, 0, -175]$[-9, 214, 0, -39]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_G7VG8D-ZEeaGY9__60ZIhg" id="(0.7435897435897436,0.963855421686747)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oDSmUD-ZEeaGY9__60ZIhg" id="(0.7945205479452054,0.07228915662650602)"/>
    </edges>
    <edges xmi:id="_H_suAD-ZEeaGY9__60ZIhg" type="Transition" element="_H_sG8D-ZEeaGY9__60ZIhg" source="_DtRPgD-ZEeaGY9__60ZIhg" target="_C7RK0T-ZEeaGY9__60ZIhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_H_tVED-ZEeaGY9__60ZIhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_H_tVET-ZEeaGY9__60ZIhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_H_tVEj-ZEeaGY9__60ZIhg" x="-3" y="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_H_suAT-ZEeaGY9__60ZIhg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_H_suAz-ZEeaGY9__60ZIhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_H_suAj-ZEeaGY9__60ZIhg" points="[1, -5, -26, 156]$[23, -141, -4, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_H_t8ID-ZEeaGY9__60ZIhg" id="(0.14516129032258066,0.06557377049180328)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_H_t8IT-ZEeaGY9__60ZIhg" id="(0.16666666666666666,0.9759036144578314)"/>
    </edges>
    <edges xmi:id="_VUasYD-ZEeaGY9__60ZIhg" type="Transition" element="_VUaFVT-ZEeaGY9__60ZIhg" source="_wV1rbT-ZEeaGY9__60ZIhg" target="_wV1rVT-ZEeaGY9__60ZIhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_VUasYT-ZEeaGY9__60ZIhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VUasYj-ZEeaGY9__60ZIhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VUasYz-ZEeaGY9__60ZIhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VUasZD-ZEeaGY9__60ZIhg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VUasZT-ZEeaGY9__60ZIhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VUasZj-ZEeaGY9__60ZIhg" points="[5, 5, -42, -46]$[54, 27, 7, -24]"/>
    </edges>
    <edges xmi:id="_VUbTcD-ZEeaGY9__60ZIhg" type="Transition" element="_VUYQJz-ZEeaGY9__60ZIhg" source="_wV1rVT-ZEeaGY9__60ZIhg" target="_wV1rYT-ZEeaGY9__60ZIhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_VUbTcT-ZEeaGY9__60ZIhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VUbTcj-ZEeaGY9__60ZIhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VUbTcz-ZEeaGY9__60ZIhg" x="-23" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VUbTdD-ZEeaGY9__60ZIhg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VUbTdT-ZEeaGY9__60ZIhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VUbTdj-ZEeaGY9__60ZIhg" points="[-4, 78, 0, -171]$[-4, 210, 0, -39]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VUbTdz-ZEeaGY9__60ZIhg" id="(0.7712418300653595,0.9156626506024096)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yUSVAD-ZEeaGY9__60ZIhg" id="(0.7465753424657534,0.04819277108433735)"/>
    </edges>
    <edges xmi:id="_VUbTeD-ZEeaGY9__60ZIhg" type="Transition" element="_VUZeQT-ZEeaGY9__60ZIhg" source="_wV1rYT-ZEeaGY9__60ZIhg" target="_wV1rVT-ZEeaGY9__60ZIhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_VUbTeT-ZEeaGY9__60ZIhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VUbTej-ZEeaGY9__60ZIhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VUbTez-ZEeaGY9__60ZIhg" x="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VUbTfD-ZEeaGY9__60ZIhg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VUbTfT-ZEeaGY9__60ZIhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VUbTfj-ZEeaGY9__60ZIhg" points="[1, -5, -28, 152]$[25, -137, -4, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VUbTfz-ZEeaGY9__60ZIhg" id="(0.2945205479452055,0.024096385542168676)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VUbTgD-ZEeaGY9__60ZIhg" id="(0.2857142857142857,0.7547169811320755)"/>
    </edges>
    <edges xmi:id="_bLUOUD-ZEeaGY9__60ZIhg" type="Transition" element="_bLTnQD-ZEeaGY9__60ZIhg" source="_VUWa8D-ZEeaGY9__60ZIhg" target="_0q3wMjSIEeadQYHzHOtb_Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_bLUOVD-ZEeaGY9__60ZIhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bLUOVT-ZEeaGY9__60ZIhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bLUOVj-ZEeaGY9__60ZIhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_bLUOUT-ZEeaGY9__60ZIhg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_bLUOUz-ZEeaGY9__60ZIhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_bLUOUj-ZEeaGY9__60ZIhg" points="[0, 0, -46, 159]$[49, -220, 3, -61]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bLVccD-ZEeaGY9__60ZIhg" id="(0.308411214953271,0.018808777429467086)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
