<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_tbIegDnXEeawTdcrqx_XeQ" specification="interface street:&#xA;&#xA;var red:boolean&#xA;var yellow:boolean&#xA;var green:boolean&#xA;&#xA;interface ped:&#xA;&#xA;var red:boolean&#xA;var wait:boolean&#xA;var green:boolean&#xA;&#xA;interface: &#xA;&#xA;in event button_pushed&#xA;&#xA;internal:&#xA;event street_turned_red&#xA;event street_turning_yellow&#xA;event street_turning_green&#xA;" name="pedestrian_crossing">
    <regions xmi:id="_tbMI4jnXEeawTdcrqx_XeQ" name="street_traffic">
      <vertices xsi:type="sgraph:Entry" xmi:id="_zNL1ujn_EeawTdcrqx_XeQ">
        <outgoingTransitions xmi:id="_zNL1uzn_EeawTdcrqx_XeQ" target="_zNL1vDn_EeawTdcrqx_XeQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_zNL1vDn_EeawTdcrqx_XeQ" specification="entry /&#xD;&#xA;street.red = false;&#xD;&#xA;street.yellow = false;&#xD;&#xA;street.green = true" name="Green" incomingTransitions="_zNL1uzn_EeawTdcrqx_XeQ _zNO44zn_EeawTdcrqx_XeQ">
        <outgoingTransitions xmi:id="_zNMcsjn_EeawTdcrqx_XeQ" specification="button_pushed" target="_8YWkkDn_EeawTdcrqx_XeQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_zNNDoDn_EeawTdcrqx_XeQ" specification="entry /&#xD;&#xA;street.yellow = true;&#xD;&#xA;street.green = false" name="Yellow" incomingTransitions="_TnlrUDoAEeawTdcrqx_XeQ">
        <outgoingTransitions xmi:id="_zNNDuzn_EeawTdcrqx_XeQ" specification="after 3s" target="_zNNqtDn_EeawTdcrqx_XeQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_zNNqtDn_EeawTdcrqx_XeQ" specification="entry /&#xD;&#xA;street.red = true;&#xD;&#xA;street.yellow = false&#xD;&#xA;after 2s /&#xD;&#xA;raise street_turned_red" name="Red" incomingTransitions="_zNNDuzn_EeawTdcrqx_XeQ">
        <outgoingTransitions xmi:id="_mTQgQDoAEeawTdcrqx_XeQ" specification="after 20s" target="_ijyk4DoAEeawTdcrqx_XeQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_zNO40Dn_EeawTdcrqx_XeQ" specification="entry /&#xD;&#xA;street.yellow = true" name="Yellow_Red" incomingTransitions="_zNOR2jn_EeawTdcrqx_XeQ">
        <outgoingTransitions xmi:id="_zNO44zn_EeawTdcrqx_XeQ" specification="after 2s" target="_zNL1vDn_EeawTdcrqx_XeQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_8YWkkDn_EeawTdcrqx_XeQ" name="Turning_Yellow" incomingTransitions="_zNMcsjn_EeawTdcrqx_XeQ">
        <outgoingTransitions xmi:id="_TnlrUDoAEeawTdcrqx_XeQ" specification="after 5s" target="_zNNDoDn_EeawTdcrqx_XeQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ijyk4DoAEeawTdcrqx_XeQ" specification="entry /&#xD;&#xA;raise street_turning_yellow&#xD;&#xA;after 5s/&#xD;&#xA;raise street_turning_green" name="Turning_Yellow_Red" incomingTransitions="_mTQgQDoAEeawTdcrqx_XeQ">
        <outgoingTransitions xmi:id="_zNOR2jn_EeawTdcrqx_XeQ" specification="after 6s" target="_zNO40Dn_EeawTdcrqx_XeQ"/>
      </vertices>
    </regions>
    <regions xmi:id="_4bYqcDnYEeawTdcrqx_XeQ" name="pedestrian_crossing">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Fxfv8DnZEeawTdcrqx_XeQ">
        <outgoingTransitions xmi:id="_HNKcsDnZEeawTdcrqx_XeQ" specification="" target="_GErKoDnZEeawTdcrqx_XeQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_GErKoDnZEeawTdcrqx_XeQ" specification="entry / ped.red = true;&#xD;&#xA;ped.green = false;&#xD;&#xA;ped.wait = false" name="Ped_Red" incomingTransitions="_HNKcsDnZEeawTdcrqx_XeQ _szouwDnZEeawTdcrqx_XeQ">
        <outgoingTransitions xmi:id="_SJMFYDnZEeawTdcrqx_XeQ" specification="button_pushed" target="_ODNugDnZEeawTdcrqx_XeQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ODNugDnZEeawTdcrqx_XeQ" specification="every 500ms /&#xD;&#xA;ped.wait = !ped.wait" name="Ped_Green_Request" incomingTransitions="_SJMFYDnZEeawTdcrqx_XeQ">
        <outgoingTransitions xmi:id="_r_nQ0DnZEeawTdcrqx_XeQ" specification="street_turned_red" target="_USwZ8DnZEeawTdcrqx_XeQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_USwZ8DnZEeawTdcrqx_XeQ" specification="entry / ped.red = false;&#xD;&#xA;ped.wait = false;&#xD;&#xA;ped.green = true" name="Ped_Green" incomingTransitions="_r_nQ0DnZEeawTdcrqx_XeQ">
        <outgoingTransitions xmi:id="_86Hl8DngEeawTdcrqx_XeQ" specification="street_turning_yellow" target="_VI9P4DneEeawTdcrqx_XeQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_VI9P4DneEeawTdcrqx_XeQ" specification="every 500ms/&#xD;&#xA;ped.green = !ped.green" name="Ped_Green_Blinking" incomingTransitions="_86Hl8DngEeawTdcrqx_XeQ">
        <outgoingTransitions xmi:id="_szouwDnZEeawTdcrqx_XeQ" specification="street_turning_green" target="_GErKoDnZEeawTdcrqx_XeQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_tbMI4DnXEeawTdcrqx_XeQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_tbIegDnXEeawTdcrqx_XeQ" measurementUnit="Pixel">
    <children xmi:id="_tbPMMDnXEeawTdcrqx_XeQ" type="Region" element="_tbMI4jnXEeawTdcrqx_XeQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_tbRocDnXEeawTdcrqx_XeQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tbRocTnXEeawTdcrqx_XeQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tbRocjnXEeawTdcrqx_XeQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_tbSPgDnXEeawTdcrqx_XeQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_zNL1gDn_EeawTdcrqx_XeQ" type="Entry" element="_zNL1ujn_EeawTdcrqx_XeQ">
          <children xmi:id="_zNL1gTn_EeawTdcrqx_XeQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_zNL1gjn_EeawTdcrqx_XeQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_zNL1gzn_EeawTdcrqx_XeQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_zNL1hDn_EeawTdcrqx_XeQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_zNL1hTn_EeawTdcrqx_XeQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zNL1hjn_EeawTdcrqx_XeQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_zNL1hzn_EeawTdcrqx_XeQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_zNL1iDn_EeawTdcrqx_XeQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zNL1iTn_EeawTdcrqx_XeQ" x="60" y="34"/>
        </children>
        <children xmi:id="_zNL1ijn_EeawTdcrqx_XeQ" type="State" element="_zNL1vDn_EeawTdcrqx_XeQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_zNL1izn_EeawTdcrqx_XeQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_zNL1jDn_EeawTdcrqx_XeQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_zNL1jTn_EeawTdcrqx_XeQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zNL1jjn_EeawTdcrqx_XeQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_zNL1jzn_EeawTdcrqx_XeQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zNL1kDn_EeawTdcrqx_XeQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zNL1kTn_EeawTdcrqx_XeQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_zNL1kjn_EeawTdcrqx_XeQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_zNL1kzn_EeawTdcrqx_XeQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_zNL1lDn_EeawTdcrqx_XeQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zNL1lTn_EeawTdcrqx_XeQ" x="185" y="1"/>
        </children>
        <children xmi:id="_zNL1ljn_EeawTdcrqx_XeQ" type="State" element="_zNNDoDn_EeawTdcrqx_XeQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_zNL1lzn_EeawTdcrqx_XeQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_zNL1mDn_EeawTdcrqx_XeQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_zNL1mTn_EeawTdcrqx_XeQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zNL1mjn_EeawTdcrqx_XeQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_zNL1mzn_EeawTdcrqx_XeQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zNL1nDn_EeawTdcrqx_XeQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zNL1nTn_EeawTdcrqx_XeQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_zNL1njn_EeawTdcrqx_XeQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_zNL1nzn_EeawTdcrqx_XeQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_zNL1oDn_EeawTdcrqx_XeQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zNL1oTn_EeawTdcrqx_XeQ" x="395" y="324"/>
        </children>
        <children xmi:id="_zNL1ojn_EeawTdcrqx_XeQ" type="State" element="_zNNqtDn_EeawTdcrqx_XeQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_zNL1ozn_EeawTdcrqx_XeQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_zNL1pDn_EeawTdcrqx_XeQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_zNL1pTn_EeawTdcrqx_XeQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zNL1pjn_EeawTdcrqx_XeQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_zNL1pzn_EeawTdcrqx_XeQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zNL1qDn_EeawTdcrqx_XeQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zNL1qTn_EeawTdcrqx_XeQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_zNL1qjn_EeawTdcrqx_XeQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_zNL1qzn_EeawTdcrqx_XeQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_zNL1rDn_EeawTdcrqx_XeQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zNL1rTn_EeawTdcrqx_XeQ" x="164" y="454" width="221" height="106"/>
        </children>
        <children xmi:id="_zNL1rjn_EeawTdcrqx_XeQ" type="State" element="_zNO40Dn_EeawTdcrqx_XeQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_zNL1rzn_EeawTdcrqx_XeQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_zNL1sDn_EeawTdcrqx_XeQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_zNL1sTn_EeawTdcrqx_XeQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zNL1sjn_EeawTdcrqx_XeQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_zNL1szn_EeawTdcrqx_XeQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zNL1tDn_EeawTdcrqx_XeQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zNL1tTn_EeawTdcrqx_XeQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_zNL1tjn_EeawTdcrqx_XeQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_zNL1tzn_EeawTdcrqx_XeQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_zNL1uDn_EeawTdcrqx_XeQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zNL1uTn_EeawTdcrqx_XeQ" x="27" y="159"/>
        </children>
        <children xmi:id="_8YXLoDn_EeawTdcrqx_XeQ" type="State" element="_8YWkkDn_EeawTdcrqx_XeQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_8YXLpDn_EeawTdcrqx_XeQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8YXLpTn_EeawTdcrqx_XeQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_8YXLpjn_EeawTdcrqx_XeQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8YXLpzn_EeawTdcrqx_XeQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_8YXLqDn_EeawTdcrqx_XeQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8YXLqTn_EeawTdcrqx_XeQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8YXLqjn_EeawTdcrqx_XeQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8YXLoTn_EeawTdcrqx_XeQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_8YXLojn_EeawTdcrqx_XeQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8YXLqzn_EeawTdcrqx_XeQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8YXLozn_EeawTdcrqx_XeQ" x="419" y="174"/>
        </children>
        <children xmi:id="_ijyk4zoAEeawTdcrqx_XeQ" type="State" element="_ijyk4DoAEeawTdcrqx_XeQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_ijzL8DoAEeawTdcrqx_XeQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ijzL8ToAEeawTdcrqx_XeQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ijzL8joAEeawTdcrqx_XeQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ijzL8zoAEeawTdcrqx_XeQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ijzL9DoAEeawTdcrqx_XeQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ijzL9ToAEeawTdcrqx_XeQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ijzL9joAEeawTdcrqx_XeQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ijyk5DoAEeawTdcrqx_XeQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ijyk5ToAEeawTdcrqx_XeQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ijzL9zoAEeawTdcrqx_XeQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ijyk5joAEeawTdcrqx_XeQ" x="-4" y="313"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tbSPgTnXEeawTdcrqx_XeQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_tbPMMTnXEeawTdcrqx_XeQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tbSPgjnXEeawTdcrqx_XeQ" x="250" y="8" width="591" height="599"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_tbXIBDnXEeawTdcrqx_XeQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_tbXvEDnXEeawTdcrqx_XeQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tbXvETnXEeawTdcrqx_XeQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tbXvEjnXEeawTdcrqx_XeQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_tbXvEznXEeawTdcrqx_XeQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tbXvFDnXEeawTdcrqx_XeQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tbXvFTnXEeawTdcrqx_XeQ" x="10" y="8" width="236" height="599"/>
    </children>
    <children xmi:id="_4bZ4kDnYEeawTdcrqx_XeQ" type="Region" element="_4bYqcDnYEeawTdcrqx_XeQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_4bafoDnYEeawTdcrqx_XeQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4bafoTnYEeawTdcrqx_XeQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4bafojnYEeawTdcrqx_XeQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_4bafoznYEeawTdcrqx_XeQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_FxgXADnZEeawTdcrqx_XeQ" type="Entry" element="_Fxfv8DnZEeawTdcrqx_XeQ">
          <children xmi:id="_FxgXBDnZEeawTdcrqx_XeQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_FxgXBznZEeawTdcrqx_XeQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_FxgXCDnZEeawTdcrqx_XeQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_FxgXCTnZEeawTdcrqx_XeQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_FxgXBTnZEeawTdcrqx_XeQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FxgXBjnZEeawTdcrqx_XeQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_FxgXATnZEeawTdcrqx_XeQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_FxgXAjnZEeawTdcrqx_XeQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FxgXAznZEeawTdcrqx_XeQ" x="92" y="62"/>
        </children>
        <children xmi:id="_GErxsTnZEeawTdcrqx_XeQ" type="State" element="_GErKoDnZEeawTdcrqx_XeQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_GEsYwDnZEeawTdcrqx_XeQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_GEsYwTnZEeawTdcrqx_XeQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_GEsYwjnZEeawTdcrqx_XeQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_GEsYwznZEeawTdcrqx_XeQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_GEsYxDnZEeawTdcrqx_XeQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GEsYxTnZEeawTdcrqx_XeQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_GEs_0DnZEeawTdcrqx_XeQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_GErxsjnZEeawTdcrqx_XeQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_GErxsznZEeawTdcrqx_XeQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_GEs_0TnZEeawTdcrqx_XeQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GErxtDnZEeawTdcrqx_XeQ" x="177" y="29"/>
        </children>
        <children xmi:id="_ODOVkDnZEeawTdcrqx_XeQ" type="State" element="_ODNugDnZEeawTdcrqx_XeQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_ODO8oDnZEeawTdcrqx_XeQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ODO8oTnZEeawTdcrqx_XeQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ODO8ojnZEeawTdcrqx_XeQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ODO8oznZEeawTdcrqx_XeQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ODO8pDnZEeawTdcrqx_XeQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ODO8pTnZEeawTdcrqx_XeQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ODPjsDnZEeawTdcrqx_XeQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ODOVkTnZEeawTdcrqx_XeQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ODOVkjnZEeawTdcrqx_XeQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ODPjsTnZEeawTdcrqx_XeQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ODOVkznZEeawTdcrqx_XeQ" x="299" y="289"/>
        </children>
        <children xmi:id="_USxBADnZEeawTdcrqx_XeQ" type="State" element="_USwZ8DnZEeawTdcrqx_XeQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_USxBBDnZEeawTdcrqx_XeQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_USxBBTnZEeawTdcrqx_XeQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_USxBBjnZEeawTdcrqx_XeQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_USxBBznZEeawTdcrqx_XeQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_USxBCDnZEeawTdcrqx_XeQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_USxBCTnZEeawTdcrqx_XeQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_USxoEDnZEeawTdcrqx_XeQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_USxBATnZEeawTdcrqx_XeQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_USxBAjnZEeawTdcrqx_XeQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_USxoETnZEeawTdcrqx_XeQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_USxBAznZEeawTdcrqx_XeQ" x="157" y="469"/>
        </children>
        <children xmi:id="_VI-eADneEeawTdcrqx_XeQ" type="State" element="_VI9P4DneEeawTdcrqx_XeQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_VI_FEDneEeawTdcrqx_XeQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_VI_FETneEeawTdcrqx_XeQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_VI_FEjneEeawTdcrqx_XeQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_VI_FEzneEeawTdcrqx_XeQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_VI_FFDneEeawTdcrqx_XeQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VI_FFTneEeawTdcrqx_XeQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_VI_FFjneEeawTdcrqx_XeQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_VI-eATneEeawTdcrqx_XeQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_VI-eAjneEeawTdcrqx_XeQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_VI_FFzneEeawTdcrqx_XeQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VI-eAzneEeawTdcrqx_XeQ" x="10" y="283"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4bafpDnYEeawTdcrqx_XeQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_4bZ4kTnYEeawTdcrqx_XeQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4bZ4kjnYEeawTdcrqx_XeQ" x="845" y="9" width="486" height="598"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_tbMI4TnXEeawTdcrqx_XeQ"/>
    <edges xmi:id="_HNLq0DnZEeawTdcrqx_XeQ" type="Transition" element="_HNKcsDnZEeawTdcrqx_XeQ" source="_FxgXADnZEeawTdcrqx_XeQ" target="_GErxsTnZEeawTdcrqx_XeQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_HNMR4TnZEeawTdcrqx_XeQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HNMR4jnZEeawTdcrqx_XeQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HNMR4znZEeawTdcrqx_XeQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_HNLq0TnZEeawTdcrqx_XeQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_HNMR4DnZEeawTdcrqx_XeQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_HNLq0jnZEeawTdcrqx_XeQ" points="[3, 7, -63, -113]$[66, 144, 0, 24]"/>
    </edges>
    <edges xmi:id="_SJNTgDnZEeawTdcrqx_XeQ" type="Transition" element="_SJMFYDnZEeawTdcrqx_XeQ" source="_GErxsTnZEeawTdcrqx_XeQ" target="_ODOVkDnZEeawTdcrqx_XeQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_SJNThDnZEeawTdcrqx_XeQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SJNThTnZEeawTdcrqx_XeQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SJNThjnZEeawTdcrqx_XeQ" x="18" y="-4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SJNTgTnZEeawTdcrqx_XeQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SJNTgznZEeawTdcrqx_XeQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SJNTgjnZEeawTdcrqx_XeQ" points="[10, 10, -62, -183]$[72, 68, 0, -125]$[72, 188, 0, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SJOhoDnZEeawTdcrqx_XeQ" id="(0.8076923076923077,0.8867924528301887)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DMhisDniEeawTdcrqx_XeQ" id="(0.5,0.10843373493975904)"/>
    </edges>
    <edges xmi:id="_r_pGADnZEeawTdcrqx_XeQ" type="Transition" element="_r_nQ0DnZEeawTdcrqx_XeQ" source="_ODOVkDnZEeawTdcrqx_XeQ" target="_USxBADnZEeawTdcrqx_XeQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_r_pGBDnZEeawTdcrqx_XeQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r_pGBTnZEeawTdcrqx_XeQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r_pGBjnZEeawTdcrqx_XeQ" x="-40" y="-4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r_pGATnZEeawTdcrqx_XeQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r_pGAznZEeawTdcrqx_XeQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r_pGAjnZEeawTdcrqx_XeQ" points="[0, 10, 131, -160]$[0, 170, 131, 0]$[-47, 170, 84, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r_qUIDnZEeawTdcrqx_XeQ" id="(0.4856115107913669,0.8192771084337349)"/>
    </edges>
    <edges xmi:id="_szp84DnZEeawTdcrqx_XeQ" type="Transition" element="_szouwDnZEeawTdcrqx_XeQ" source="_VI-eADneEeawTdcrqx_XeQ" target="_GErxsTnZEeawTdcrqx_XeQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_szp85DnZEeawTdcrqx_XeQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_szp85TnZEeawTdcrqx_XeQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_szp85jnZEeawTdcrqx_XeQ" x="-2" y="6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_szp84TnZEeawTdcrqx_XeQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_szp84znZEeawTdcrqx_XeQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_szp84jnZEeawTdcrqx_XeQ" points="[8, -27, -109, 215]$[8, -126, -109, 116]$[90, -213, -27, 29]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_szrLATnZEeawTdcrqx_XeQ" id="(0.19230769230769232,0.6226415094339622)"/>
    </edges>
    <edges xmi:id="_86I0EDngEeawTdcrqx_XeQ" type="Transition" element="_86Hl8DngEeawTdcrqx_XeQ" source="_USxBADnZEeawTdcrqx_XeQ" target="_VI-eADneEeawTdcrqx_XeQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_86I0FDngEeawTdcrqx_XeQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_86I0FTngEeawTdcrqx_XeQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_86I0FjngEeawTdcrqx_XeQ" x="44" y="24"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_86I0ETngEeawTdcrqx_XeQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_86I0EzngEeawTdcrqx_XeQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_86I0EjngEeawTdcrqx_XeQ" points="[-7, 0, 52, 210]$[-59, 0, 0, 210]$[-59, -171, 0, 39]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_86KCMDngEeawTdcrqx_XeQ" id="(0.03773584905660377,0.5354330708661418)"/>
    </edges>
    <edges xmi:id="_zNTxUDn_EeawTdcrqx_XeQ" type="Transition" element="_zNO44zn_EeawTdcrqx_XeQ" source="_zNL1rjn_EeawTdcrqx_XeQ" target="_zNL1ijn_EeawTdcrqx_XeQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_zNUYYDn_EeawTdcrqx_XeQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zNUYYTn_EeawTdcrqx_XeQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zNUYYjn_EeawTdcrqx_XeQ" x="-44" y="18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zNTxUTn_EeawTdcrqx_XeQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zNTxUzn_EeawTdcrqx_XeQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zNTxUjn_EeawTdcrqx_XeQ" points="[0, -39, -165, 112]$[0, -109, -165, 42]$[55, -123, -110, 28]"/>
    </edges>
    <edges xmi:id="_zNUYYzn_EeawTdcrqx_XeQ" type="Transition" element="_zNMcsjn_EeawTdcrqx_XeQ" source="_zNL1ijn_EeawTdcrqx_XeQ" target="_8YXLoDn_EeawTdcrqx_XeQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_zNUYZzn_EeawTdcrqx_XeQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zNUYaDn_EeawTdcrqx_XeQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zNUYaTn_EeawTdcrqx_XeQ" x="1" y="42"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zNUYZDn_EeawTdcrqx_XeQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zNUYZjn_EeawTdcrqx_XeQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zNUYZTn_EeawTdcrqx_XeQ" points="[110, 0, -93, -122]$[203, 0, 0, -122]$[203, 119, 0, -3]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_87rUEDn_EeawTdcrqx_XeQ" id="(0.5,0.07547169811320754)"/>
    </edges>
    <edges xmi:id="_zNU_cDn_EeawTdcrqx_XeQ" type="Transition" element="_zNL1uzn_EeawTdcrqx_XeQ" source="_zNL1gDn_EeawTdcrqx_XeQ" target="_zNL1ijn_EeawTdcrqx_XeQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_zNU_dDn_EeawTdcrqx_XeQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zNU_dTn_EeawTdcrqx_XeQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zNU_djn_EeawTdcrqx_XeQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zNU_cTn_EeawTdcrqx_XeQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zNU_czn_EeawTdcrqx_XeQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zNU_cjn_EeawTdcrqx_XeQ" points="[-2, -2, 2, 2]$[-1, -1, 3, 3]"/>
    </edges>
    <edges xmi:id="_zNU_dzn_EeawTdcrqx_XeQ" type="Transition" element="_zNOR2jn_EeawTdcrqx_XeQ" source="_ijyk4zoAEeawTdcrqx_XeQ" target="_zNL1rjn_EeawTdcrqx_XeQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_zNVmgDn_EeawTdcrqx_XeQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zNVmgTn_EeawTdcrqx_XeQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zNVmgjn_EeawTdcrqx_XeQ" x="-2" y="-46"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zNU_eDn_EeawTdcrqx_XeQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zNU_ejn_EeawTdcrqx_XeQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zNU_eTn_EeawTdcrqx_XeQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_zNVmgzn_EeawTdcrqx_XeQ" type="Transition" element="_zNNDuzn_EeawTdcrqx_XeQ" source="_zNL1ljn_EeawTdcrqx_XeQ" target="_zNL1ojn_EeawTdcrqx_XeQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_zNVmhzn_EeawTdcrqx_XeQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zNVmiDn_EeawTdcrqx_XeQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zNVmiTn_EeawTdcrqx_XeQ" x="-30" y="-41"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zNVmhDn_EeawTdcrqx_XeQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zNVmhjn_EeawTdcrqx_XeQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zNVmhTn_EeawTdcrqx_XeQ" points="[0, 50, 208, -107]$[0, 157, 208, 0]$[-77, 157, 131, 0]"/>
    </edges>
    <edges xmi:id="_TnmSYDoAEeawTdcrqx_XeQ" type="Transition" element="_TnlrUDoAEeawTdcrqx_XeQ" source="_8YXLoDn_EeawTdcrqx_XeQ" target="_zNL1ljn_EeawTdcrqx_XeQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Tnm5cToAEeawTdcrqx_XeQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Tnm5cjoAEeawTdcrqx_XeQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Tnm5czoAEeawTdcrqx_XeQ" x="4" y="-44"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_TnmSYToAEeawTdcrqx_XeQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Tnm5cDoAEeawTdcrqx_XeQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_TnmSYjoAEeawTdcrqx_XeQ" points="[0, 0, -3, -114]$[-104, 110, -107, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TnnggDoAEeawTdcrqx_XeQ" id="(0.5086705202312138,1.0)"/>
    </edges>
    <edges xmi:id="_mTRHUDoAEeawTdcrqx_XeQ" type="Transition" element="_mTQgQDoAEeawTdcrqx_XeQ" source="_zNL1ojn_EeawTdcrqx_XeQ" target="_ijyk4zoAEeawTdcrqx_XeQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_mTRHVDoAEeawTdcrqx_XeQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mTRHVToAEeawTdcrqx_XeQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mTRHVjoAEeawTdcrqx_XeQ" x="17" y="-47"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mTRHUToAEeawTdcrqx_XeQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mTRHUzoAEeawTdcrqx_XeQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mTRHUjoAEeawTdcrqx_XeQ" points="[-3, 6, 72, 160]$[-75, 6, 0, 160]$[-75, -113, 0, 41]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mTRuYDoAEeawTdcrqx_XeQ" id="(0.015037593984962405,0.5433070866141733)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
